* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2B2B2B;
  display: flex;
  justify-content: space-between;
  padding-top: 100px; 
  
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main-info h2 {
  font-size: 1em;
}

.main-container {
  background-color: #EFEFEF;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr));
  grid-column-gap: .05em;
  grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
}

.images {
  background-size: cover;
  height: 125px;
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
}

.shares {
  background-color: #EFEFEF;
  font-size: 40px;
  padding: 20px 30px 5px;
  color: #525252;
}

.nav-bar-left {
  display: flex;
  justify-content: space-between;
}

.nav-bar-right {
  display: flex;
}


.web-link {
  background-color: #EFEFEF;
  height: 40px;
  margin: 10px;
  overflow-wrap: break-word;
}

.main-info {
  background-color: white;
  color: #636363;
}

.attachments-number {
  color: #53C3FC;
}

.fa-arrow-alt-circle-right {
  color: white;
}

.fa-arrow-alt-circle-right:hover {
  cursor: pointer;
  filter: brightness(90%);
}


.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
  font-size: 3em;
  padding-left: 6px;
  line-height: 1;
  margin-top: 8%;
}


.box {
  margin: 10px;
  display: flex;
  flex-direction: column; 
}

.background-image1 {
  background-image: url(images/pic1.jpg);
}

.background-image2 {
  background-image: url(images/pic2.jpg)
}

.background-image3 {
  background-image: url(images/pic3.jpg);

}

.background-image4 {
  background-image: url(images/pic4.jpg);
  
}

.background-image5 {
  background-image: url(images/pic5.jpg);
 
}

.background-image6 {
  background-image: url(images/pic6.jpg);

}

.background-image7 {
  background-image: url(images/pic7.jpg);

}

.background-image8 {
  background-image: url(images/pic8.jpg);

}