* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2B2B2B;
  display: flex;
  justify-content: space-between;
  padding-top: 100px; 
  
}

body {
  font-family: 'Open Sans', sans-serif;
}

.recipeints-name {
  font-size: 16px;
  padding: 10px 10px;
}

.playlist-name {
  font-size: 16px;
  padding: 10px 10px;
}

.views02 {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 15px;
  margin-top: 22px;
}

.two {
  font-size: 35px;
  text-align: center;
  font-weight: thin;
}

.main-info h3 {
  padding: 10px;
}

.main-info p {
  padding: 10px 10px 0px 10px;
  font-size: 11px;
}

.timestamp {
  font-size: 10px;
  color: #BCBCBE
}

.main-container {
  background-color: #EFEFEF;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .05em;
  grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
}

.images {
  display: flex;
  height: 150px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-start;
  justify-content: space-between;
}

.fa-list-ul,
.fa-user {
  color: #67CAFC;
  font-size: 1em;
}

.nav-shares {
  color: white;
  margin: 10px 35px;
}

.nav-playlists {
  margin: 10px 35px;
  color: #828282;
}

.nav-videos {
  margin: 10px 35px;
  color: #828282;
}

.nav-shares:hover,
.nav-playlists:hover,
.nav-videos:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: .3s ease-in-out;
  transition: .1s ease-in-out;
  cursor: pointer;
}

.black-background {
  background-color: black;
  height: 150px;
  opacity: .85;
  background-size: cover;
  background-position: center;
}

.shares {
  background-color: #EFEFEF;
  font-size: 40px;
  padding: 20px 30px 5px;
  color: #525252;
  padding-left: 2%;
}

.nav-bar-left {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  margin-top: -90px;
  margin-right: 10px;
}

.two-win-text {
  font-size: 50px;
  margin-bottom: 20px;

}

.admin-text {
  color: #67CAFC;
}

.admin-text:hover{
  cursor: pointer;
  filter: brightness(200%);
}

.profile {
  color: white;
  font-size: 22px;
}


.web-link {
  background-color: #EFEFEF;
  height: 40px;
  margin: 20px 10px;
  overflow-wrap: break-word;
  font-size: 12px;
  color: color: #BCBCBE;
}

.main-info {
  background-color: white;
  color: #636363;
}

.attachments-number {
  color: #53C3FC;
  font-size: 28px;
  font-weight: lighter;
  padding: 0px 10px 22px;
}

.fa-arrow-alt-circle-right {
  color: white;
  font-size: 3rem;
}

.fa-arrow-alt-circle-right:hover {
  cursor: pointer;
  filter: brightness(80%);
  color: #53C3FC;
}


.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
  padding-left: 6px;
  line-height: 1;
  margin-top: 8%;
  font-weight: 999px,
}


.box {
  margin: 10px;
  display: flex;
  flex-direction: column; 
  box-shadow: 3px 0 3px #bababa, -0.2em 0 0.2em #bababa;

}

.background-image1 {
  background-image: url(images/pic1.jpg);
  grid-area: box1;
}

.background-image2 {
  background-image: url(images/pic2.jpg);
  grid-area: box2;
}

.background-image3 {
  background-image: url(images/pic3.jpg);
  grid-area: box3;
}

.background-image4 {
  background-image: url(images/pic4.jpg);
  grid-area: box4;
}

.background-image5 {
  background-image: url(images/pic5.jpg);
  grid-area: box5;
}

.background-image6 {
  background-image: url(images/pic6.jpg);
  grid-area: box6;
}

.background-image7 {
  background-image: url(images/pic7.jpg);
  grid-area: box7;
}

.background-image8 {
  background-image: url(images/pic8.jpg);
  grid-area: box8;
}


@media (max-width: 820px) {

  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "box1 box2" 
      "box3 box4"
      "box5 box6" 
      "box7 box8";
  } 

  .nav-bar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  header {
    padding-top: 80px;
  }


}

@media (max-width: 600px) {

  .main-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "box1" 
      "box2" 
      "box3" 
      "box4"
      "box5" 
      "box6" 
      "box7" 
      "box8";
  } 

  .nav-bar-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}











