* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2B2B2B;
  display: flex;
  justify-content: space-between;
  padding-top: 100px; 
  
}

body {
  font-family: 'Open Sans', sans-serif;
}

.recipeints-name {
  font-size: 13px;
  padding: 10px 10px;
}

.playlist-name {
  font-size: 13px;
  padding: 10px 10px;
}

.views02 {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: space-between;
}

.two {
  font-size: 35px;
  text-align: center;
  font-weight: thin;
}

.main-info h3 {
  padding: 10px;
}

.main-info p {
  padding: 10px 10px 0px 10px;
  font-size: 10px;
}

.timestamp {
  font-size: 10px;
  color: #BCBCBE
}

.main-container {
  background-color: #EFEFEF;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .05em;
  grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
}

.images {
  background-size: cover;
  height: 150px;
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
}

.fa-list-ul,
.fa-user {
  color: #67CAFC;
  font-size: 1em;
}

.fa-arrow-alt-circle-right {
  font-size: 3em;
}

.nav-shares {
  color: white;
}

.nav-playlists {
  margin: 10px;
}

.nav-videos {
  margin: 10px;
}

.black-background {
  background-color: black;
  height: 150px;
  opacity: .85;
  background-size: cover;
  background-position: center;
}

.shares {
  background-color: #EFEFEF;
  font-size: 40px;
  padding: 20px 30px 5px;
  color: #525252;
}

.nav-bar-left {
  display: flex;
  justify-content: space-between;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  margin-top: -90px;
  margin-right: 10px;
}


.web-link {
  background-color: #EFEFEF;
  height: 40px;
  margin: 20px;
  overflow-wrap: break-word;
  font-size: 12px;
  color: color: #BCBCBE;
}

.main-info {
  background-color: white;
  color: #636363;
}

.attachments-number {
  color: #53C3FC;
  font-size: 24px;
  font-weight: lighter;
  padding: 0px 10px 22px;
}

.fa-arrow-alt-circle-right {
  color: white;
}

.fa-arrow-alt-circle-right:hover {
  cursor: pointer;
  filter: brightness(90%);
}


.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
  padding-left: 6px;
  line-height: 1;
  margin-top: 8%;
  font-weight: 999px,
}


.box {
  margin: 10px;
  display: flex;
  flex-direction: column; 
  box-shadow: 3px 0 3px #bababa, -0.2em 0 0.2em #bababa;

}

.background-image1 {
  background-image: url(images/pic1.jpg);
}

.background-image2 {
  background-image: url(images/pic2.jpg)
}

.background-image3 {
  background-image: url(images/pic3.jpg);

}

.background-image4 {
  background-image: url(images/pic4.jpg);
  
}

.background-image5 {
  background-image: url(images/pic5.jpg);
 
}

.background-image6 {
  background-image: url(images/pic6.jpg);

}

.background-image7 {
  background-image: url(images/pic7.jpg);

}

.background-image8 {
  background-image: url(images/pic8.jpg);

}